$sizes:(
    'base-font': 16px,
);

$colors: (
    'main': indigo,
    'second': rgb(175, 118, 216),
    'white': #fff,
    'green': rgb(98, 156, 9),
    'yellow': rgb(241, 241, 23),
    'grey': rgb(110, 104, 104),
);

$fonts: (
    'bold': 900,
    'regular': 600,
);