@forward 'utils/reset';
@forward 'utils/base';
@use 'utils/variables' as v;
@use 'utils/mixins' as m;

header {

    display: flex;
    align-items: center;
    border-bottom: .1px solid  map-get(v.$colors, 'main');

    img {
        width: 50px;
        height: 50px;
    }

    h1 {
        color: map-get(v.$colors, 'main');
    }

}


main {

    .line {
        display: flex;
        margin: 1rem 0;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2px;
    
    }

    input {
        height: 30px;
    }

    
    input,
    textarea {
        padding: 5px;
        border: none;
        outline: none;
        @include m.border;
        
    }

    label {
        font-weight: map-get(v.$fonts, 'regular');
    }

    button {
        background:  map-get(v.$colors, 'main');
        color:  map-get(v.$colors, 'white');
        padding: 10px;
        border: none;
        outline: none;
        margin-left: 2px;
        cursor: pointer;

        &:hover {
            background: darken( map-get(v.$colors, 'main'), 5)
        }

    }

    

    table {
        width: 100%;
        border: map-get(v.$colors, 'second');
        border-collapse: collapse;
    }

    td {
        @include m.border;
        padding: 3px;
    }

    details {
        cursor: pointer;
    }

    .edit-icon,
    .delete-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    .finish,
    .in-process {
        color: map-get(v.$colors, 'white');
        padding: 2px;
        margin: 2px;
        border-radius: 5px;
        font-weight: map-get(v.$fonts, 'bold');
    }

    .finish {
        background: map-get(v.$colors, 'green');
    }
    .in-process {
        background: map-get(v.$colors, 'yellow');
        color: map-get(v.$colors, 'grey');
    }
}





